/**
 * Variables
 */
$border_color: #d1d5df;
$border_width: .25rem;
$padding_l: 1.5rem;
$padding_b: $padding_l * 2;
$title_font_size: 1.5rem;
$date_font_size: .9rem;

/**
 * Placeholders
 */
%transition {
	transition: .2s all ease-in-out;
}

:root {
	--icon-bg-color: $border_color;
}
	
/**
 * CSS styles
 */
section.wpt-timeline.wpt-theme-minimalist {
	border-left:$border_width solid $border_color;
	padding-left: $padding_l;

	article.wpt-achievement {
		position: relative;
		padding-bottom: $padding_b;

		&:last-of-type {
			padding-bottom: $padding_b / 3;
		}

		header.wpt-title {
			h2 {
				font-size: $title_font_size;
				margin:0;
				padding:0;

				a {
					//color: #111;
				}

				&:before {
					display: none;
				}
			}
		}

		p.wpt-date {
			margin: .5em 0 0;
			font-size: $date_font_size;
			opacity: .5;
			font-style: italic;
		}

		div.wpt-summary {

		}

		footer.wpt-read-more-button {
			margin-top: 1rem;
		}

		div.wpt-icon {
			$w: 2rem;
			font-size: $w*0.6;
			background-color: $border_color;
			background-color: var(--icon-bg-color);
			line-height: $w;
			width:$w;
			height:$w;
			color:#fff;
			text-align: center;
			border-radius:100%;
			position: absolute;
			left: - ( $padding_l + ( $w / 2 ) + ( $border_width / 2 ) );
			top:0;
			z-index:20;
			box-shadow: 0px 0px 0px $border_width/2 rgba( #fff, .75 );
		}

		&:hover {
			div.wpt-icon {
				@extend %transition;
				box-shadow: 0px 0px 0px $border_width/2 var(--icon-bg-color);
			}
		}
	}
}